h1{text-align: center; color: darkcyan; background-color: indigo; 
    margin-left: 40%; margin-right: 40%;}
p{text-align: center; color: crimson;}
a{color: red; text-align: center;}
h2{text-align: center; color: blueviolet;}