h2 {text-align: center; color: rgb(red, green, blue); ;}
table,tr,th,td {color: rgb(18, 17, 19); border: 1px solid red; border-spacing: 0px;
border-radius: 5px;}
table {margin-left: auto; margin-right: auto; height: 200px;}